@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #2fb6a7;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight:bold;
  font-size: 40px
}

h2 {
  display: inline-block;
  font-style: italic;
  background-color: pink;
  color: #2fb6a7;
  border-style: dashed;
  border: white;
  padding: 15px;
  margin: 10px;
}

.mine {
  color: green
}

.dog {
  font-weight:700;
}

.cat {
  font-style: italic;
}
